<section class="slider col-lg-12 col-md-12 col-sm-12">
    <div class="flexslider flexsliderBig">
        <ul class="slides">
            <li id="slide1">
                <div class = "text">

                    <div class = "bg"></div>

                    <div class = "title">
                        <h2><strong>Lorem Ipsum Dolor</strong></h2>
                    </div>

                    <div class = "desc">
                        <h3>All the power in your hands!</h3>
                        <span>From <span class="price">$960.00</span></span>
                    </div>

                    <div class = "button">
                        <a class="button big red" href="#">Buy Now</a>
                    </div>

                </div>
            </li>
            <li id="slide2">
                <div class = "text">

                    <div class = "bg"></div>

                    <div class = "title">
                        <h2><strong>The New Studio<br>Original Headphones</strong></h2>
                    </div>

                    <div class = "desc">
                        <h3>Lorem ipsum dolor</h3>
                        <span>From <span class="price">$399.00</span></span>
                    </div>

                    <div class = "button">
                        <a class="button big red" href="#">Buy Now</a>
                    </div>

                </div>
            </li>
            <li id="slide3">
                <div class = "text">

                    <div class = "bg"></div>

                    <div class = "title">
                        <h2>The New <strong>Laptop</strong></h2>
                    </div>

                    <div class = "desc">
                        <h3>All the power in your hands!</h3>
                        <span>From <span class="price">$960.00</span></span>
                    </div>

                    <div class = "button">
                        <a class="button big red" href="#">Buy Now</a>
                    </div>

                </div>
            </li>
        </ul>
    </div>
</section>