<div id="top-header">

    <div class="row">

        <nav id="top-navigation" class="col-lg-7 col-md-7 col-sm-7">
            <ul class="pull-left">
                <li><a href="create_an_account.html">My Account</a></li>
                <li><a href="orders_list.html">List Order</a></li>
                <li><a href="order_info.html">Checkout</a></li>
                <li><a href="text_page.html">About Us</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>

        <nav class="col-lg-5 col-md-5 col-sm-5">
            <ul class="pull-right">
                <li><a class="flag" href="#"><span class="english-flag"></span>English <i class="icons icon-down-dir"></i></a>
                    <ul class="box-dropdown parent-arrow">
                        <li>
                            <div class="box-wrapper no-padding parent-border">
                                <table class="language-table">
                                    <tr>
                                        <td class="flag"><span class="english-flag"></span></td>
                                        <td class="country"><a href="#">English</a></td>
                                    </tr>
                                    <tr>
                                        <td class="flag"><span class="german-flag"></span></td>
                                        <td class="country"><a href="#">German</a></td>
                                    </tr>
                                    <tr>
                                        <td class="flag"><span class="french-flag"></span></td>
                                        <td class="country"><a href="#">French</a></td>
                                    </tr>
                                    <tr>
                                        <td class="flag"><span class="italian-flag"></span></td>
                                        <td class="country"><a href="#">Italian</a></td>
                                    </tr>
                                    <tr>
                                        <td class="flag"><span class="spanish-flag"></span></td>
                                        <td class="country"><a href="#">Spanish</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                    </ul>

                </li>
                <li><a href="#">$ US Dollar <i class="icons icon-down-dir"></i></a>
                    <ul class="box-dropdown parent-arrow">
                        <li>
                            <div class="box-wrapper no-padding parent-border">
                                <table class="currency-table">
                                    <tr>
                                        <td><a href="#">$ US Dollar</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="#">€ Euro</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="#">£ Pound</a></td>
                                    </tr>
                                </table>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>

    </div>

</div>